<%= form_with model: @article, url:articles_path, local: true do |f|%>
  <div class="article-box">
    記事を投稿する
    <%= f.text_field :title, class:"title", placeholder:"タイトル"%>
    <%= f.text_area :text, class:"text", placeholder: "テキスト" %>
    <%# collection_selectでプルダウンを作成できる 第一引数に保存先のカラム名 第二引数に表示するために必要な配列データ 第三引数に保存するカラム名 第四引数に表示するカラム名 第五引数にオプション(include_blankとすると先頭二値なしの選択肢を作ってくれる) 第六引数にclass等のhtmlオプション %>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-selict"})%>
    <%= f.submit "投稿する",class:"btn" %>
  </div>
<%end%>